/* .modal-back {
	display: flex;
	align-items: center;
	justify-content: center;
	& .modal-back__item {
		display: grid;
		width: 500px;
		& .modal-back__title {
			height: 40px;
			background-color: #37474f;
			color: #fff;
			padding: 0px 15px;
			display: flex;
			align-items: center;
		}
		& .modal-back__body {
			display: grid;
			padding: 15px;
			max-height: 650px;
			overflow: auto;
			background-color: #fff;
		}
		& .modal-back__footer {
			margin-top: 5px;
			display: flex;
			justify-content: flex-end;
		}
	}
}
 */